# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
.vscode/

lsp-server/include/types/
*.log

.idea/
__pycache__/
**/LSPGen/meta/
**/LSPGen/out/

# CMake Cache
CMakeCache.txt
cmake.check_cache